.login-page{
    background-color: #044095;
    text-align: -webkit-center;
    height: 100%; 

}

.login-card {
    max-width: 400px;
  }
  
  .login-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  