<div class="login-page">
    <mat-card class="login-card">
        <mat-card-header>
          <div mat-card-avatar class="login-header-image"></div>
         
        </mat-card-header>
        
        <div class="login-form">
          <div class="form-content">
            <mat-card-content >
              <mat-tab-group dynamicHeight>
                <mat-tab label="Manager Login">
                  <mat-form-field class="login-full-width">
                    <!-- <mat-label>Email</mat-label> -->
                    <input type="email" class="login-input" matInput placeholder="name@example.com">
                  </mat-form-field>
                  <mat-form-field class="login-full-width">
                    <!-- <mat-label>Password</mat-label> -->
                    <input type="password" matInput placeholder="Your password">
                  </mat-form-field>
                
                  <button mat-flat-button class="login-button" >SIGN IN</button>
                </mat-tab>
               
              </mat-tab-group>
              
            </mat-card-content>
            
          </div>
        </div>

      </mat-card>
      
</div>
